:root {
    --background: #090606;
    --navbar-background: #575757;
    --text: #e2e8f0;
    --border: #2d3748;
    --shadow: #2d3748;
    --hover: #2d3748;
    --active: #2d3748;
    --accent: #f56565;
    --accent-hover: #e53e3e;
    --accent-active: #c53030;
    --navbar-height: 3.5rem;
    --text-size: 16px;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
}


body > * {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
